@import 'variables';

@mixin font-primary($weight: normal, $style: normal) {
  font-family: $font--primary;
  font-weight: $weight;
  font-style: $style;
}

@mixin h1 {
  @include font-primary();
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: 1024px) {
    font-size: 3em;
  }
}

@mixin h2 {
  @include font-primary();
  margin: 0;
  margin-bottom: 15px;


  @media (min-width: 1024px) {
    font-size: 2em;
  }
}

h1, .asH1 {
  @include h1();
}

h2, .asH2 {
  @include h2();
}

a {
  color: inherit;
  text-decoration: inherit;
}
