@import 'variables';

@mixin font-primary($weight: normal, $style: normal) {
  font-family: $font--primary;
  font-weight: $weight;
  font-style: $style;
}

@mixin h1 {
  @include font-primary(800);
  margin: 0;
  margin-bottom: 0.7rem;
  text-transform: uppercase;

  font-size: 2rem;
  @media (min-width: 1024px) {
    font-size: 3rem;
  }
}

@mixin h2 {
  @include font-primary();
  margin: 0;
  margin-bottom: 15px;


  @media (min-width: 1024px) {
    font-size: 2em;
  }
}

@mixin h3 {
  @include font-primary();
  margin: 0;
  margin-bottom: 10px;


  @media (min-width: 1024px) {
    font-size: 1.5em;
  }
}

@mixin p {
  @include font-primary();
  margin: 0;

  font-size: 1rem;
  @media (min-width: 1024px) {
    font-size: 1.5em;
  }
}

h1, .asH1 {
  @include h1();
}

h2, .asH2 {
  @include h2();
}

h3, .asH3 {
  @include h3();
}

p, .asP {
  @include p();
}

a {
  color: inherit;
  text-decoration: inherit;
}
