@import 'variables';

@mixin font-primary($weight: normal, $style: normal) {
  font-family: $font--primary;
  font-weight: $weight;
  font-style: $style;
}

@mixin h1 {
  @include font-primary();
  margin: 0;
}

h1, .asH1 {
  @include h1();
}

a {
  color: inherit;
  text-decoration: inherit;
}
