//--------------------------------------------------------------------------------------------------------------------//
//                                                                                                                    //
//                                                    Typography                                                      //
//                                                                                                                    //
//--------------------------------------------------------------------------------------------------------------------//

$font--primary: 'Helvetica';
$font--secondary: '';
$font--error: '';

// Fonts config (size, height...)
$desktop--font-size--h1: 1px;
$line-height--h1: 1px;


//--------------------------------------------------------------------------------------------------------------------//
//                                                                                                                    //
//                                                      Colors                                                        //
//                                                                                                                    //
//--------------------------------------------------------------------------------------------------------------------//

$color--primary: #013125;
$color--secondary: #45361E;

$color--text: #1E261F;
$color--text-secondary: #5f6569;


$color--error: #ffffff;
$color--success: #ffffff;


//--------------------------------------------------------------------------------------------------------------------//
//                                                                                                                    //
//                                                      Borders                                                       //
//                                                                                                                    //
//--------------------------------------------------------------------------------------------------------------------//

$border--color: #ffffff;
$border--radius: 2px;


//--------------------------------------------------------------------------------------------------------------------//
//                                                                                                                    //
//                                                      Shadows                                                       //
//                                                                                                                    //
//--------------------------------------------------------------------------------------------------------------------//

$box--shadow: #ffffff;
