//--------------------------------------------------------------------------------------------------------------------//
//                                                                                                                    //
//                                                    Typography                                                      //
//                                                                                                                    //
//--------------------------------------------------------------------------------------------------------------------//

$font--primary: 'Montserrat';
$font--secondary: '';
$font--error: '';

// Fonts config (size, height...)
$desktop--font-size--h1: 1px;
$line-height--h1: 1px;


//--------------------------------------------------------------------------------------------------------------------//
//                                                                                                                    //
//                                                      Colors                                                        //
//                                                                                                                    //
//--------------------------------------------------------------------------------------------------------------------//

$color--primary: #013125;
$color--secondary: #45361E;
$color--light: #f8f8f8;
$color--dark: #0f0f0f;

$color--text: #1E261F;
$color--text-secondary: #5f6569;


$color--error: #ffffff;
$color--success: #ffffff;


//--------------------------------------------------------------------------------------------------------------------//
//                                                                                                                    //
//                                                      Borders                                                       //
//                                                                                                                    //
//--------------------------------------------------------------------------------------------------------------------//

$border--color: #ffffff;

$border--radius-0: 5px;
$border--radius-1: 8px;
$border--radius-2: 11px;


//--------------------------------------------------------------------------------------------------------------------//
//                                                                                                                    //
//                                                      Shadows                                                       //
//                                                                                                                    //
//--------------------------------------------------------------------------------------------------------------------//

$box--shadow: #ffffff;
$image-brightness-0: brightness(25%);
$image-brightness-1: brightness(50%);
$image-brightness-2: brightness(75%);

$image-blur-0: blur(2px);
$image-blur-1: blur(4px);
$image-blur-2: blur(6px);
