@import '../../styles/assets/variables';

nav {
  position: fixed;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  color: $color--light;
  padding-top: 15px;
  background-color: #b8b8b879;

  .wrapper {
    min-width: 50px;
    margin: 0 20px;
  }

  .button {
    background-color: transparent;
    border: none;
    color: $color--light;  
  }

  .bold {
    font-weight: bold;
  }

  z-index: 1;
}