@import '../../styles/assets/variables';

nav {
  position: fixed;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  color: $color--light;
  padding-top: 15px;

  .wrapper {
    min-width: 50px;
  }

  h3.title {
    font-weight: lighter;
  }

  .button {
    background-color: transparent;
    border: none;
    color: $color--light;  
  }

  z-index: 1;
}