@import '../../../styles/assets/variables';

.App-header {
    .Hero {
        height: 33vh;
        background-color: beige;
    }    
}

.cottage-section-title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
}

.cottage-overview {
    height: 32vh;
    padding: 20px 40px;

    .cover {
        width: 50%;
        .cover-img {
            height: 70%;
            width: 100%;
            border-radius: 8px;
            object-fit: cover;
        }
    }

    .info {
        width: 40%;
        .title {
            margin-top: 0;
            margin-bottom: 10px;
        }
    }
}

.link-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.reverse {
    flex-direction: row-reverse;
}