@import '../../../styles/assets/variables';

.App-header {
    .Hero {
        height: 100vh;
        background-color: #013125;
        color: white;

        @media (min-width: 900px) {
            height: 80vh;
        }
    }
}

.cottage-section-title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
}


.card-cottages {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;

    .cottage-overview {
        height: 50vh;
        min-width: 100%;
    
        @media (min-width: 1024px) {
            height: 100vh;
            min-width: 50%;
        }
    }

    @media (min-width: 1024px) {
        flex-direction: row;
    }
}