@import '../../styles/assets/variables';

.Hero {
    height: 100vh;
    width: 100%;

    color: $color--light;

    .background-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: $image-brightness-1;
    }

    .content {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 70%;
        text-align: center;

        .title {
            text-transform: uppercase;
            opacity: 0;
            animation: 1500ms ease-out 1000ms forwards pop;
        }

        .subtitle {
            opacity: 0;
            animation: 1500ms ease-out 1200ms forwards pop;
        }

        @media (min-width: 1024px) {
            width: 65%;

        }
    }

    .scroll-down {
        position: absolute;
        transform: translate(-50%, -50%);
        bottom: 5%;
        left: 50%;
        text-align: center;
        animation: 3000ms 2200ms forwards pop;
        opacity: 0;

        .icon {
            font-size: 48px;
            margin: auto;
            animation: 2500ms ease-in-out 2200ms alternate-reverse infinite blink;
        }
    }

    .button {
        background-color: transparent;
        border: none;
        color: $color--light;

    }

}

@keyframes blink {
    0% {
        opacity: 0.3;
        padding-top: 50px;
    }

    100% {
        opacity: 1;
        padding-top: 0;
    }
}

@keyframes pop {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
