.starred-cottage{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
        white-space: nowrap;
        text-align: center;
        margin-bottom: 41px;
        height: 10%;
    }

    .carousel {
        display: contents;
    }

    .images {
        margin-bottom: 12px;

        .swiper {
            width: 100%;
            height: 100%;
        }
    }

    .cottage-info {
        text-align: center;
    }
}
