.about-us {
    height: 50vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: auto;

    .title {
        text-transform: uppercase;
        text-align: center;
        align-self: center;
    }

    .content {
        text-align: left;
        align-self: center;
    }

}